obj/
lib/
out/
examples/c-lua/deps/*
.vscode/
.emcache
.well-known/
examples/**/cache/
node_modules/
bindings/js/dist/*
!bindings/js/dist/rl.d.ts
!.gitkeep
/cache
tests/bindings/lua/test_rl_lua
tests/bindings/nim/test_rl
