__pycache__/
*.py[cod]
*$py.class

obj/
lib/
out/
examples/c-lua/deps/*
.vscode/
.emcache
.well-known/
examples/**/cache/
examples/www/public/assets/scripts/haxe/main.js
examples/www/public/assets/scripts/haxe/main.js.map
examples/www/public/assets/scripts/nim/main.js
examples/www/public/assets/scripts/nim/main.js.map
examples/www/public/assets/scripts/cppia/MainScript.cppia
node_modules/
bindings/js/dist/*
!bindings/js/dist/rl.d.ts
!.gitkeep
/cache
tests/bindings/lua/test_rl_lua
tests/bindings/nim/test_rl
